#event {
  margin: 50px 200px;

  h1 {
    color: #333333;
  }
  .image{
    display: flex;
    justify-content: space-between;
  }
  img {
    height: 280px;
    width: 280px;
    gap: 20px;
    border-radius: 10px;
    overflow: hidden;
  }
}
