#cast {
  // padding: 30px 200px;
  padding-left: 20px;
  padding-right: 400px;

  .cpus{
    display: flex;
    justify-content: space-between;
    align-items: start;

    .cpu{
      overflow: hidden;
    }
    img {
      height: 150px;
      width: 150px;
      border-radius: 50%;
    }
    h2 {
      color: #222222;
      margin: 5px 0;
      font-weight: 400;
    }
    h3 {
      color: #666666;
      font-weight: 500;
    }
  }
}
